body {
    font-family: 'Lato', sans-serif;
    background-color: #cccaca;
    color: #747070;
    margin: 0;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container {
    text-align: center;
}

h1 {
    color: #333;
    border-radius: 5px;
    padding: 10px;
    background-color: #afaaaa;
    margin: 10%;
}

h3 {
    color: #333;
}

#buttons-container {
    margin-top: 20px;
}

button {
    border-radius: 10px;
    background-color: #B90504;
    color: #fff;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
    margin: 10px;
}

button:hover {
    background-color: #007bb5;
}
